body {
  background: #F8F0AF;
  color: blue;
}

p{
  font-size: 12pt;
  color: blue;
}
h1{
  color: blue;
  text-align:center;
  
}
h2{
  color: blue;
}
h3{
  color: blue;
}
title{
  text-align:center;
  color: blue;
}
